$grey-white: #e8e8e8;
$grey-white2: #efefef;
$white: #fbfbfb;
$dark: #29292b;
$dark-line: #b5b5bb;
$light-blue: #09c3ed;
$dark-blue: #0daed2;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$smartphone: "(max-width:767px)";
$low-tablet:"(max-width: 1199px)";
$low-md:"(max-width: 992px)";
$gt-md:"(min-width: 993px)";
$gt-tablet:"(min-width: 1200px)";