.features
  .container
    .row
      .col-xs-12.col-md-6.col-lg-3
        .feature
          a(href='#')
            em.fa.fa-truck.text-center
            h4 Shipping Fee
      .col-xs-12.col-md-6.col-lg-3
        .feature
          a(href='#')
            em.fa.fa-credit-card-alt.text-center
            h4 Payment Methods
      .col-xs-12.col-md-6.col-lg-3
        .feature
          a(href='#')
            em.fa.fa-wrench.text-center
            h4 Warranty Policy
      .col-xs-12.col-md-6.col-lg-3
        .feature.last-child
          a(href='#')
            em.fa.fa-cogs.text-center
            h4 Repair Services
