footer.footer
  .footer-email
    .container
      .row
        .footer-wrap
          .form-email.col-xs-12.col-lg-9
            .row
              form.form-horizontal(action='')
                .form-group
                  label.control-label.col-xs-12.col-lg-6(for='email') GET THE LASTEST GEARS & MORE
                  .input-group.col-xs-12.col-lg-6
                    input#subemail.form-control(type='email', placeholder='Enter E-Mail Address')
                    button.sign-up-btn(type='submit') Sign Up
          .address.col-xs-12.col-lg-3.text-center
            i.fa.fa-map-marker
            h4 Address
  .container
    .row
      .footer-wrap
        .main-column.col-xs-6.col-lg-3
          ul.list-items
            h3.title
              a(href='#') Audio
            li.item
              a(href='#') Headphone
            li.item
              a(href='#') DAC / Headamp
            li.item
              a(href='#') Music Players
            li.item
              a(href='#') Audio Accessories
        .main-column.col-xs-6.col-lg-3
          ul.list-items
            h3.title
              a(href='#') Computer
            li.item
              a(href='#') Gaming Laptops
            li.item
              a(href='#') Gaming Desktops
            li.item
              a(href='#') Monitors
            li.item
              a(href='#') Computer Accessories
        .main-column.col-xs-6.col-lg-3
          ul.list-items
            h3.title
              a(href='#') Gaming Gear
            li.item
              a(href='#') Gaming Keyboards
            li.item
              a(href='#') Gaming Mice
            li.item
              a(href='#') Gaming Headsets
            li.item
              a(href='#') Gaming Mousepads
        .main-column.col-xs-6.col-lg-3
          ul.list-items
            h3.title
              a(href='#') Speaker
            li.item
              a(href='#') Portable Speakers
            li.item
              a(href='#') Computer Speakers
            li.item
              a(href='#') Soundbar Speakers
            li.item
              a(href='#') Speaker Accessories
    .row
      .social-testimonials
        .social.col-xs-12.col-lg-6
          h3.title
            | Follow us on
            a(href='#') Social Networks
          ul
            li
              h4 On Facebook
              .fb-page(data-href='https://www.facebook.com/LoLBestVideosFanpage/', data-width='550', data-height='450', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/LoLBestVideosFanpage/')
                  a(href='https://www.facebook.com/LoLBestVideosFanpage/') League of Legends Best Video
            li
              h4 On Instagram
              #instagram
                a.feedaz(href='https://www.instagram.com/p/BJiT7LCDsAr/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14099739_290187534692169_988430375_n.jpg?ig_cache_key=MTMyNDcwODg2OTU3ODg2NjczMQ%3D%3D.2')
                a.feedaz(href='https://www.instagram.com/p/BJZhfx9DfR3/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14031616_1791575137733194_242697328_n.jpg?ig_cache_key=MTMyMjIzNTI4NTA4NjI3MDU4Mw%3D%3D.2')
                a.feedaz(href='https://www.instagram.com/p/BJTAoAKjL17/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13687027_633530833494293_729498020_n.jpg?ig_cache_key=MTMyMDQwMTg2NDcwNTc1MjQ0Mw%3D%3D.2')
                a.feedaz(href='https://www.instagram.com/p/BJQZ-_JDQBs/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14072969_596983923838779_902477846_n.jpg?ig_cache_key=MTMxOTY2ODk3MDM4NzQ3MjQ5Mg%3D%3D.2')
                a.feedaz(href='https://www.instagram.com/p/BJLOgRZDOJu/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13712561_1087662207980804_1074417587_n.jpg?ig_cache_key=MTMxODIxMTEwNjI4NDI5ODg2Mg%3D%3D.2')
                a.feedaz(href='https://www.instagram.com/p/BJIt3anDYY0/')
                  img(src='https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13658883_1227483763950108_1255772728_n.jpg?ig_cache_key=MTMxNzUwNDYxMTI0MjU3NTQxMg%3D%3D.2')
        .testimonials.col-xs-12.col-lg-6
          h3.title Testimonials
          .testimonial
            .row
              .avatar.col-xs-3
                img(src='/images/avatar.jpg', alt='Nam Binh')
                span.author Nam Bình
              .text.col-xs-9
                blockqoute Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .testimonial
            .row
              .avatar.col-xs-3
                img(src='/images/avatar.jpg', alt='Nam Binh')
                span.author Nam Bình
              .text.col-xs-9
                blockqoute Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .testimonial
            .row
              .avatar.col-xs-3
                img(src='./images/avatar.jpg', alt='Nam Binh')
                span.author Nam Bình
              .text.col-xs-9
                blockqoute Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .row
      .col-xs-12
        .footer-utility.text-center
          ul
            li
              a(href='#') Home Page
            li
              a(href='#') Shipping Fee
            li
              a(href='#') Payment Methods
            li
              a(href='#') Warranty Policy
            li
              a(href='#') Repair Services
            li
              a(href='#') Contacts
      .col-xs-12
        .copyright.text-center
          | Copyright © 2016
          a(href='http://facebook.com/nguyennambinh11') cnbn96
